@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 2px;
}

section {
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  margin: 10px 0px;
  padding: 15px 20px;
  font-family: 'HangeulNuri-Bold';
}

section:hover {
  color: orange;
}

section h1 {
  font-weight: bolder;
}

section h3 {
  font-weight: bold;
  display: inline;
}

section ul ul {
  padding-left: 25px;
}

.icon-wrapper {
  display: flex;
  align-items: flex-start;
}

.icon-wrapper a {
  padding: 15px;
}

.icon-wrapper a:hover {
  border: 5px solid orange;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  padding: 0px;
}

.icon-wrapper p {
  padding: 0px 10px 10px 0px;
}
